main {
  width: 100%;
  margin-top: 123px;
}

main .main-home {
  height: 646px;
  background-image: url("../../assets/main/home/home_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .main-promotion {
  height: 62px;
  background: linear-gradient(0.25turn, #111111 50%, #f6f5ef 50%);
}

main .main-st-reward {
  box-sizing: content-box;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1e3932;
  color: white;
  height: 170.2px;
}

main .main-season-menu1 {
  width: 100%;
  height: 572px;
  background-image: url("../../assets/main/season/season_menu1.png");
  background-position: 70% center;
  background-size: cover;
}

main .main-season-menu2 {
  width: 100%;
  height: 400px;
  background-image: url("../../assets/main/season/season_menu2-2.jpg");
  background-position: 50% center;
  background-size: cover;
}

main .main-menu {
  width: 100%;
  height: 800px;
  background-color: #45434c;
  background-image: url("../../assets/main/menu/menu_bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

main .main-magazine {
  width: 100%;
  height: 400px;
}

main .main-store {
  width: 100%;
  height: 400px;
  background-image: url("../../assets/main/store/store_bg.jpg");
}

footer {
  width: 100%;
  height: 601px;
  background-color: #2c2a29;
}
